@use 'mixins' as m;

$primary-color: #a5903b;;
$secondary-color: #014044;
$accent-color: #000000;
$body-text-color: #fff;
$heading-font-family:"arial";
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;
